.blogListTitle h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.blogList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 20px;

}

.theme-icon {
    font-size: 2rem;
    margin: 5px;
}

.blogTitle {
    font-size: 1.5rem;
}

.blogResume {
    font-size: 2rem;
}
