:root {
    --main: #EEE4F2;
    --contrast: #734D8C;
    --third: #4C2C59;
}

body, .addComments {
    background-color: var(--main);
}

header {
    background-color: var(--contrast);
    color: var(--main);
}

header h1 a, header .header-link, header .header-link:hover, header .header-link:visited {
    color: var(--main);
}

.btnAddComments, .flip-card-front, .flip-card-back {
    transition: all 0.4s ease-in-out;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(291deg, rgba(2,0,36,1) 0%, rgba(76,44,89,1) 0%, rgba(127,14,159,1) 100%);
    background: -webkit-linear-gradient(291deg, rgba(2,0,36,1) 0%, rgba(76,44,89,1) 0%, rgba(127,14,159,1) 100%);
    background: linear-gradient(291deg, rgba(2,0,36,1) 0%, rgba(76,44,89,1) 0%, rgba(127,14,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#7f0e9f",GradientType=1);
    color: var(--main);
    background-size: 200% auto;
}

.btnAddComments:hover, .flip-card-front:hover, .flip-card-back:hover {
    transition: all 0.4s ease-in-out;
    background-position: right center;
}

.blogInfo, .commentInfo {
    color: #506266;
}