{% include 'Blog/utils/css.html' %}
{% include 'Blog/utils/header.html' %}

<head>
    <title>A Propos</title>
</head>
<body>

<div class="content">
    <div class="blogDescription" style="text-align: left">
        <h1>A propos</h1>
        <p>
            Ce site web a été réalisé pour le lab'info de Polytech Tours. Il a
            pour but de regrouper des informations plus ou moins simples sur
            l'informatique, hardware ou software. Les différents blogs ont pour
            but d'être facilement compréhensible et suffisamment complet.
        </p>
        <p>
            Le site contient {{ blogs.all.count }} blogs et
            {{ comments.all.count }} commentaires.
        </p>
        <p>
            Ce site web a été réalisé par Mattéo Langlois avec le framework
            python Django. Les icônes viennent de Fontawesome.
        </p>

    </div>

</div>
</body>