{% extends "Blog/utils/header.html" %}
{% block content %}

<script>
    function openModal(idForm, idBtn) {
        document.getElementById(idForm).classList.remove('hidden');
        document.getElementById(idBtn).classList.add('hidden');
    }

    function closeModal(idForm, idBtn) {
        document.getElementById(idForm).classList.add('hidden');
        document.getElementById(idBtn).classList.remove('hidden');
    }
</script>
<div class="flex flex-row justify-center">
    <div class="w-full lg:p-4 lg:w-1/2">
        <div class="container">
            <h3 class="text-3xl font-bold text-center">{{ blog }}</h3>
            <div class="text-lg text-center text-gray-500">
                {{ blog.date }} - {{ blog.author }}
            </div>
            <div class="mt-4 text-black text-2xl text-left">
                {{ blog.content | safe }}
            </div>
        </div>

        <div class="title-container">
            <h3 class="container title lg:w-2/3">Commentaires</h3>
        </div>


        <div class="mt-4 flex flex-row justify-center">
            {% include 'Blog/forms/commentForm.html' %}
        </div>

        {% if comments %}
            <div class="container">
            {% for comment in comments %}
                <div class="flex flex-row justify-between w-full">
                    <div>
                        <div class="text-3xl">
                            {{ comment.name }} - <span class="font-light">{{ comment.date }}</span>
                        </div>
                        <div class="mt-2 text-2xl">
                            {{ comment.comment}}
                        </div>
                    </div>
                    <button id="btn-{{ comment.id }}" class="text-4xl send-button"
                            onclick="openModal('modalReply-{{ comment.id }}', 'btn-{{ comment.id }}')">
                        <i class="fa-solid fa-reply"></i>
                    </button>
                    {% include 'Blog/forms/replyForm.html' with id=comment.id %}
                </div>
                {% for reply in comment.replies.all|dictsort:"date" %}
                        <div class="flex flex-row justify-between lg:w-4/5 mt-10">
                            <div class="ml-10">
                                <div class="text-lg">
                                    {{ reply.name }} - <span class="font-light">{{ reply.date }}</span>
                                </div>
                                <div class="mt-2">
                                    {{ reply.comment }}
                                </div>
                            </div>
                            <button id="btnBis-{{ reply.id }}"  class="text-2xl send-button"
                                    onclick="openModal('modalReply-{{ reply.id }}', 'btn-{{ reply.id }}')">
                                <i class="fa-solid fa-reply"></i>
                            </button>
                            {% include 'Blog/forms/replyForm.html' with id=reply.id %}
                        </div>
                {% endfor %}
                <hr>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}