{% extends "Blog/utils/header.html" %}
{% block content %}

    <div class="flex flex-row justify-center">
        <div class="w-full lg:p-4 lg:w-2/3">
            <div class="title-container">
                <h1 class="container title lg:w-2/3">Listes des blogs : </h1>
            </div>

            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for blog in blogs %}
                    {% include 'Blog/blog_card.html' %}
                {% endfor %}
                {% if user.is_authenticated %}

            </section>
            <div class="title-container">
                <h1 class="container title lg:w-2/3">Blogs non publiés : </h1>
            </div>
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    {% for blog in unpublished_blogs %}
                        {% include 'Blog/blog_card.html' %}
                    {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}
