{% include 'utils/css.html' %}
{% include 'utils/header.html' %}

<head>
    <title>Liste des blogs</title>
</head>
<body>

<div class="content">
    <div class="blogListTitle">
        <h1>Listes des blogs : </h1>
    </div>
    <section class="blogList">

        {% for blog in blogs %}
            <a class="blogLink flip-card" href="{% url 'Blog:blog_detail' blog.id %}">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        {{ blog.theme.print_icon | safe }}
                        <p class="blogTitle">{{ blog }}</p>
                    </div>
                    <div class="flip-card-back">
                        <p class="blogResume">{{ blog.description }}</p>
                        <p class="blogAuthor">{{ blog.date }} | {{ blog.author }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
</div>
</body>
